<main>
    <section class="fatherContainer">
        <div class="box text">
            <h2 class="text__title">Transform your brand</h2>

            <p>We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.</p>

            <a href="#">LEARN MORE</a>
        </div>

        <div class="box photo">
            <!-- EGG PHOTO -->
        </div>

        <div class="box photo">
            <!-- GLASS PHOTO -->
        </div>

        <div class="text">
            <h2 class="text__title">Stand out to the rigth audience</h2>

            <p>Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we´ll build and extend your brand in digital places.</p>

            <a href="#">LEARN MORE</a>
        </div>

        <div class="box photo">
            <!-- BACKGROUND-IMAGE: CHERRIES PHOTO -->

            <h3>Graphic Design</h3>

            <p>Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential client´s attention.</p>
        </div>

        <div class="box photo">
            <!-- BACKGROUND-IMAGE: TANGERINES PHOTO -->

            <h3>Photography</h3>

            <p>Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
        </div>
    </section>
</main>
