<p>main component works!!</p>

<!-- <main>
    <section class="fatherContainer">

        <div class="box text">
            <div class="textContent">
                <h2 class="textContent__title">Transform your brand</h2>

                <p class="textContent__paragraph">We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.</p>

                <a class="textContent_anchor" href="#">LEARN MORE</a>
            </div>
        </div>

        <div class="box">
            <img src="" alt="eggPhoto">
        </div>

        <div class="box">
            <img src="" alt="glassPhoto">
        </div>

        <div class="box text">
            <div class="textContent">
                <h2 class="textContent__title">Stand out to the rigth audience</h2>

                <p class="textContent__paragraph">Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we´ll build and extend your brand in digital places.</p>

                <a class="textContent_anchor" href="#">LEARN MORE</a>
            </div>
        </div>

        <div class="box cherriesPhoto">

            <h3 class="photoAndText__title">Graphic Design</h3>

            <p>Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential client´s attention.</p>
        </div>

        <div class="box tangerinePhoto">

            <h3 class="photoAndText__title">Photography</h3>

            <p>Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
        </div>
    </section>
</main> -->
