
<h2>LET´S TALK!</h2>

<form action="">
    <div class="formContent">

        <div class="formContent__name">
            <label for="userName">Your name, please...</label>
            <input type="text" name="userName" id="userName" />
        </div>

        <div class="formContent__surname">
            <label for="userSurname">And your surname, please...</label>
            <input type="text" name="userSurname" id="userSurname" />
        </div>

        <div class="formContent__phone">
            <label for="phoneContact">Maybe, your phone?</label>
            <input type="number" name="phoneContact" id="phoneContact" />
        </div>

        <div class="formContent__dialog">
            <label for="userDialog">And now, tell us something!!</label>
            <textarea name="userDialog" id="userDialog" cols="30" rows="10"></textarea>
        </div>

    </div>
    <button type="submit">SEND</button>
</form>
