<header>

    <section class="layout">

        <span class="logo">
            <img class="logo__img" src="../../assets/logo.svg" alt="WebsiteLogo">
        </span>
    
        <div class="menu">
            <nav class="navbar">
                <a class="navbar__anchor" href="#">About</a>
                <a class="navbar__anchor" href="#">Services</a>
                <a class="navbar__anchor" href="#">Projects</a>
            </nav>
    
            <button class="contactBtn" type="button">
                <a CLASS="button__anchor" href="#">CONTACT</a>
            </button>
        </div>
        
        <div class="liveMotive">
            <h1 class="text">WE ARE CREATIVES</h1>
    
            <span class="arrowIcon">
                <img class="arrowIcon__icon" src="../../assets/icon-arrow-down.svg" alt="arrow">
            </span>
        </div>

    </section>
    


</header>
