*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header{
    width: 100%;
    height: 46.875rem;

    background-image:url(../../assets/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;

    display: flex;

    .logo{
        width: 10.625rem;
        height: 2.313rem;
        border: 1px solid black;

        .logo__img{
            width: 100%;
        }
    }

    .menu{

        .navbar{

            .navbar__anchor{
                color: #DDFFFF;
            }
        }
    }


    .contactBtn{
        width: 149px;
        color: black;
        background-color: #DDFFFF;
        border: 0.5px solid hsl(167, 40%, 24%);
        border-radius: 66px;
        padding: 16px;
        font-family: Fraunces;
        font-size: 17px;
    }
    

    




    .liveMotive{
        color: white;
        font-family: Fraunces;
    }
    
    // .arrowIcon{
    //     position: absolute;
    // }
}







