*{
    text-decoration: none;
}

header{
    width: 100%;
    height: 46.875rem;

    background-image:url(../../assets/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
}

.layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;

    .logo{
        width: 10.625rem;
        height: 2.313rem;

        flex-grow: 2;
        order: 1;
        flex-basis: 40%;

        .logo__img{
            width: 30%;
            margin-top: 38px;
            margin-left: 38px;
        }
    }

    .menu{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        order: 2;
        flex-grow: 2;
        flex-basis: 50%;
        justify-content: flex-end;
        align-items: center;

        margin-top: 25px;

        .navbar{
            text-align: center;

            .navbar__anchor{
                color: #DDFFFF;
                font-family: Barlow;
                margin-right: 47px;
            }
        }
    }


    .contactBtn{
        width: 9.313rem;
        height: 3.5rem;
        background-color: #DDFFFF;
        border: 0.5px solid hsl(167, 40%, 24%);
        border-radius: 66px;
        margin-right: 47px;

        font-family: Fraunces;
        font-size: 17px;
        text-align: center;

        .button__anchor{
            color: black;
            padding: 16px;
        }
    }

    .liveMotive{
        // width: 300px;
        margin-top: 122px;

        text-align: center;

        flex-basis: 100%;
        flex-grow: 6;
        order: 3;
        flex-basis: 6;

        .text{
            color: white;
            font-size: 43px;
            letter-spacing: 12px;
            font-family: Fraunces;
        }
    }

    
}







